<!DOCTYPE html>
<html>
  <head>
    <title>Saksham</title>
   
   
    <%- include('../partial/header'); -%>
    <%- include('../partial/nav'); -%>
   


  </head>
  <body>
    hello
    <%- include('../partial/footer'); -%>
  </body>
 
</html>