<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/head'); -%>
</head>

  <%- include('../partial/userNav'); -%>
<main>
    <!--SECTION SEPARATOR-->

    <div class="rgba-gradient" style="margin-top:5%;">
        <div class="">
            <!--Section: Profile-->
            <section id="contact">

                <div class=" h-100 d-flex justify-content-center align-items-center">

                <div class="jumbotron mt-5 w-93" >
                <div class="container">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Book Writer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false">Available Writer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Past Booking</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="row mt-5">

                                        <!--Grid column-->
                                        <div class="col-md-6 ml-lg-5 ml-md-3">

                                            <!--Grid row-->
                                            <div class="row pb-4">
                                                <div class="col-12">

                                                    <p class="text-center">Being around in our team
                                                        will allow you to have a creative work environment,
                                                        collaboration
                                                        and
                                                        disruptive innovation.</p>
                                                </div>
                                                <div class="col-12">
                                                    <br>
                                                </div>
                                                <div class="col-xl-12">
                                                    <img src="./img/blindman.svg">
                                                </div>

                                            </div>
                                            <!--Grid row-->

                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-md-5">

                                            <!--Naked Form-->
                                            <div class="card-block" id="contact-card">


                                                <!--Body-->
                                                <form action="consumer"
                                                    method="POST">
                                                    <div class="form-row mb-4">
                                                        <div class="col">
                                                            <!-- First name -->
                                                            <input type="date" required name="date"
                                                                id="defaultRegisterFormFirstName" class="form-control"
                                                                placeholder="Enter exam date">
                                                        </div>
                                                        <div class="col">
                                                            <!-- Last name -->
                                                            <input type="time" required name="time"
                                                                id="defaultRegisterFormLastName" class="form-control"
                                                                placeholder="Enter exam time">
                                                        </div>
                                                    </div>
                                                    <!-- E-mail -->
                                                    <input type="text" required name="lang"
                                                        id="defaultRegisterFormEmail" class="form-control mb-4"
                                                        placeholder="Enter medium of exam(Language)">

                                                        <!-- password -->
                                                     <input type="text" required name="address"
                                                        id="defaultRegisterFormEmail" class="form-control mb-4"
                                                        placeholder="Enter Exam Center Address">

                                                      <input type="text" required name="subject"
                                                        id="defaultRegisterFormEmail" class="form-control mb-4"
                                                        placeholder="Enter Exam">  

                                                    <div class="form-group">
                                                        <!-- Phone number -->
                                                        <input type="number" required name="duration"
                                                            id="defaultRegisterPhonePassword" class="form-control"
                                                            placeholder="Enter Exam Duration"
                                                            aria-describedby="defaultRegisterFormPhoneHelpBlock">
                                                    </div>
                                                    
                                                    

                                                    <div class="text-center">
                                                        <input type="submit" value="Book Now" class="btn btn-purple round ">
                                                      
                                                    </div>
                                                </form>

                                            </div>
                                            <!--Naked Form-->
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                </div>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
    locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
    blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
    Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
    PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
    salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
    sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
    stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
    wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
    lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
    locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
    squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
    etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
    stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
</div>
                </div>
                </div>
                    
                </div>
            </section>
            <!--Section Profile-->
        </div>

        <!-- FOOTER SVG -->
        <div class="svrow">
            <svg id="footer-svg" preserveAspectRatio="xMidYMax meet" class="svg-separator sep4" viewBox="0 0 1600 200"
                style="display: block;" data-height="200">
                <polygon class="" style="fill: rgb(255, 255, 255);"
                    points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 ">
                </polygon>
            </svg>
        </div>

    </div>

    <!--Main layout-->
</main>


<!--SECTION SEPARATOR-->

<!-- Footer -->
<footer class="page-footer font-small white">
 <%- include('../partial/footer'); -%>
</footer>
<!-- Footer -->


<!--Custom JS-->
<script type="text/javascript" src="js/script.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.js"></script>

</html>