<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partial/head'); -%>
</head>

  <%- include('../partial/navbar'); -%>
<main>
    <!--SECTION SEPARATOR-->

    <div class="rgba-gradient" style="margin-top:5%;">
        <div class="container">
            <!--Section: Profile-->
            <section id="contact">

                <div class="container h-100 d-flex justify-content-center align-items-center">

                    
                </div>
            </section>
            <!--Section Profile-->
        </div>

        <!-- FOOTER SVG -->
        <div class="svrow">
            <svg id="footer-svg" preserveAspectRatio="xMidYMax meet" class="svg-separator sep4" viewBox="0 0 1600 200"
                style="display: block;" data-height="200">
                <polygon class="" style="fill: rgb(255, 255, 255);"
                    points="886,86 800,172 714,86 -4,86 -4,204 1604,204 1604,86 ">
                </polygon>
            </svg>
        </div>

    </div>

    <!--Main layout-->
</main>


<!--SECTION SEPARATOR-->

<!-- Footer -->
<footer class="page-footer font-small white">
 <%- include('../partial/footer'); -%>
</footer>
<!-- Footer -->


<!--Custom JS-->
<script type="text/javascript" src="js/script.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.js"></script>

</html>